# Fichiers de configuration avec données sensibles
conf/*conf.inc.php

# Sauvegardes de base de données
*.sql
sae202_backup.sql

# Autres fichiers sensibles (si besoin)
.env
*.log
EXEMPLE_conf.inc.php
